/* index.html :: main */

/* variables */
:root{
    --cor-primaria:#000000;
    --cor-secundaria:#F8EEDF;
    --cor-tercearia:#8E1616;
    --cor-hover:#272727;

    /* tipografia */
    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat Alternates', sans-serif;

    /* theme : devdalua colors */
    --cor-purdrk:#2a283f;
    --cor-purlig:#be19f0;
    --cor-bluecya: cyan;
}

/* document */

body {
    /* height: 100vh; */
    background-color: var(--cor-purdrk);
    color: var(--cor-secundaria);
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.titulo-destaque {
    color: var(--cor-bluecya);
}

.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

#comewithme {
    color: var(--cor-bluecya);
    cursor: pointer;
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo{
    font-size: 1.5rem;
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
}


.apresentacao__links__navegacao{
   /* background-color: #22D4FD; */
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    border: 2px solid var(--cor-purlig);
}

.apresentacao__links__link:hover{
    background-color: var(--cor-hover);
}

.apresentacao__links__link:hover{
    padding: 3%;
}

.cabecalho__titulo{
    padding: 5% 15%;
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
    font-weight: 400;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    text-align: right;
    color: var(--cor-tercearia);
}

.secao{
    padding: 5% 10%;
}

.secao__titulo{
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
    font-weight: 400;
    margin-bottom: 24px;
    color: var(--cor-tercearia);
}

.secao__subtitulo{
    font-size: 1.5rem;
    font-family: var(--fonte-primaria);
    font-weight: 400;
    margin-bottom: 12px;
    color: var(--cor-secundaria);
}

.secao__texto{
    font-size: 1.25rem;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    margin-bottom: 24px;
    color: var(--cor-secundaria);
    line-height: 1.5;
}

.apresentacao__imagem{
    width: 50%;
    border-radius: 8px;
    border: 2px dashed var(--cor-purlig);
}

@media (max-width: 1211px) {
    .cabecalho{
        padding: 10%;
    }

    .cabecalho__menu{
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }

    .cabecalho__titulo{
        justify-content: center;
        text-align: center;
    }

    .apresentacao__imagem{
        width:100%;
        border: none;
    }

    .apresentacao__links__navegacao{
        background-color: #171717;
        display: flex;
        justify-content: center;
        gap: 16px;
        width: 90%;
        text-align: center;
        border-radius: 8px;
        font-size: 1.5rem;
        font-weight: 600;
        padding: 21.5px 0;
        text-decoration: none;
        color: var(--cor-secundaria);
        font-family: var(--fonte-secundaria);
        border: 2px solid var(--cor-purlig);
    }

}